.row{
    margin: 0!important;
}
.content_custom {
    width: 100%;
    background-image: url('../../public/wallpaper/starry1.jpg');
    background-position: center;
    background-size: 50vh;
}
.void{
    height: 100vh;
}
.main_custom{
    background-color: #DBDFEA;
    padding: 20px 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}